:root {
    --hatter: linear-gradient(to bottom right, #29a5bbff, #169f72);
    --szin-szoveg: #105653;
    --szin-1: #3aeeb850;
    --szin-2: #16aea1;
    --szin-3: #32b8ab;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--hatter);
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--szin-szoveg);

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: var(--szin-1);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.szamrendszer {
    padding: 20px;
    background-color: inherit;
    border-radius: 5px;
    margin: 10px;
    width: 250px;
}

.input-container {
    width: 250px;
    padding: 20px;
    margin: 10px;
    background-color: inherit;
    border-radius: 5px;
}

button {
    color: var(--szin-szoveg);
    font-size: larger;
    font-weight: 800;
    padding: 10px;
    margin: 10px;
    background-color: var(--szin-1);
    width: 290px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--szin-2);
}


img {
    border: none;
}


h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input {
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus {
    outline: none;
    border-color: var(--szin-3);
}


.cim {
    text-align: center;
}

#szinvalto {
    width: fit-content;
    
}